/* Lab:exp_5_Theory of Fan Rating Test
	 File name: main.css
   Author:Prakriti Dhang
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table,th,td{
    text-align: center;
    font-size: medium;
    width: 20%;
}

.img-container{
  display:inline-block;
  position: relative;
}

.poscol{
  width: 100%;
  min-width: 23px;
  min-height: 1px;
  }
  
  .poscol img{
    max-width: 100%;
    height: auto;
  }
  
  #ductimg{
    position: relative;
    top:5%;
   left:2%;
  }

#fan{
  position: absolute;
  top:55%;
  left:23%;
  animation: rotation 0.8s linear 0s infinite;
  animation-play-state: paused;
  width:7%;
  
  
  
  
}
/* top:55%;
  left: 21%;*/
#pitottube{
  position: absolute;
  top:59%;
  left:59%;
  width:25%;
}




@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(358deg)
  }
}

#on{
  position: absolute;
  top:10%;
  left: 5%;
  width: 4%;
  height:5%;
  
}

#off{
  position: absolute;
  top: 10%;
  left: 11%;
  width: 4%;
  height:5%;
}


#user{
  position: absolute;
  top:90%;
  left: 92%;
  width:10%;

}
#anemoter{
    position: absolute;
    bottom:-20%;
    left: 101%;
    width: 5%;
}


#myCanvas{
    position: absolute;
    top: 73%;
    left:69%;
    width: 2.1%;
    
    }
#myCanvas1{
      position: absolute;
      top: 73%;
      left:81.6%;
     width: 2.1%;
      
      }

#myCanvas2{
        position: absolute;
        top: 86%;
      left:61%;
     width: 2%;
      transform: rotate(180deg);
        
        }
#myCanvas3{
          position: absolute;
          top: 86%;
         left: 74%;
         width: 2%;
          transform: rotate(180deg);
          
          }



     /*  Flow control device  1 */
#contldevice1 {
    position: absolute;
    left: 97%;
    top: 100%;
    width: 4.3%;
    animation: tplate1 10s linear;
   
   /* margin-left: 50% !important;*/
  }

 /*  Flow control device 2 */
#contldevice2 {
    position: absolute;
    left: 97%;
    top: 100%;
    width: 4.3%;
   
  }
  /*  Flow control device 3 */
#contldevice3 {
    position: absolute;
    left: 97%;
    top: 100%;
    width: 4.3%;
  }


#contldevice4 {
    position: absolute;
    left: 97%;
    top: 100%;
    width: 4.3%;
  }
  
#contldevice5 {
    position: absolute;
    left: 97%;
    top: 100%;
    width: 4.3%;
  }

  @media print {
    body {-webkit-print-color-adjust: exact !important;
       
        
    }
    }
    @page {
        margin: 1in; 
      }
      
    @print {
       @page :footer {
          display: none;
          
           
       }
     
       @page :header {
          display: none;
          
       }
   }
   @media print {
    #myPlot {
      padding-right: 1cm;
    }
  }
  